Package: owasp-wte-zap
Section: misc
Priority: 
Maintainer: Matt Tesauro <matt.tesauro@owasp.org>
Architecture: all
Version: 2.1.0
Depends: openjdk-7-jre | sun-java7-jre  
Description: The OWASP Zed Attack Proxy (ZAP) is an easy to use integrated 
 penetration testing tool for finding vulnerabilities in web applications.
 It is designed to be used by people with a wide range of security experience
 and as such is ideal for developers and functional testers who are new to 
 penetration testing as well as being a useful addition to an experienced pen 
 testers toolbox. 
