Package: owasp-wte-webslayer
Section: misc
Priority: 
Maintainer: Matt Tesauro <matt.tesauro@owasp.org>
Architecture: all
Version: 0-svn-r5
Depends: python, python-pycurl, python-qt4 
Description: WebSlayer is a tool designed for brute forcing Web Applications, 
 it can be used to discover not linked resources (directories, servlets, 
 scripts, etc), brute force GET and POST parameters, brute force forms 
 parameters (User/Password), fuzzing, etc.  The tool has a powerful payload 
 generator and a easy and flexible results analyzer.
